.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: rgb(6, 7, 7);
    width: 100%;
    text-align: center;
    border-bottom: 10px solid rgb(5, 250, 229);
    margin-bottom: 10px;
}